BOT_TOKEN=YOUR_BOT_TOKEN
MONGO_URI=YOUR_MONGO_URL
OWNER_ID=8206476526
SUPPORT_CHANNEL=https://t.me/YOUR_SUPPORT_CHANNEL
BOT_NAME=ShinchanVibeGirl
START_IMAGE=https://i.ibb.co/3m4ZQ2H/start.jpg
PORT=10000
